.loaderContainer{
    position: absolute;
    inset: 0;       
    margin: auto;
}
.larger{
    height: 300px;
    width: 300px;
}
.small{
    height: 200px;
    width: 200px
}

@media screen and (max-width: 600px) {
    .larger{
    height: 100px;
    width: 100px;
    }
    .small{
        height: 50px;
        width: 50px;
    }
}